

<div class="modal col-md-12 bd-example-modal-lg fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class=" modal-dialog modal-dialog-centered modal-lg"  role="document">
        <div class="modal-content" id="modal_content" style="height: 80vh;">


        </div>
    </div>
</div>